
.image {
    width: 22px;
    height: 22px;
}

table {
    margin-right: auto;
    margin-left: auto;
    width: 50%;
}

.index_table, th, td {
    border: 1px solid black;
}

th {
    height: 40px;
}

td {
    padding-left: 5px;
}

.main_row {
    background: dimgrey;
}

.descr_input{
    height: 10em;
}

.describtion_label {
    position: relative;
    bottom: 4em;
}

.trash {
    position:relative;
    text-align: center;
}

.flash_validation {
    color: red;
    text-align: center;
}

.add_product_button {
    color: white;
    margin: 2em;
    background-color: blue;
    position: relative;
    right: -9em;
}

h2 {
    text-align: center;
    margin-bottom: 3em;
}