{% include "header.html" %} 

<h2>Add new Product</h2>
{% with messages = get_flashed_messages() %} {% if messages %}
<ul>
    {% for message in messages %}
    <li class="flash_validation">{{ message }}</li>
    {% endfor %}
</ul>
{% endif %} {% endwith %}
<body>
    <form method="POST">
        <table>
            <tr>
                <td><label for="name">Name</label></td>
                <td><input type="text" name="name" /></td>
            </tr>
            <tr>
                <td><label for="price">Price</label></td>
                <td><input type="text" name="price" /></td>
            </tr>
            <tr>
                <td><label for="describtion" class="describtion_label">Describtion</label></td>
                <td><input class="descr_input" type="text" name="describtion" /></td>
            </tr>
            
            <tr>
                <td></td>
                <td><input type="submit" value="Add" /></td>
            </tr>
        </table>
    </form>
</body>

</html>