{% include "header.html" %}

<body>
    <form method="POST">
        <table>
            <tr>
                <td><label for="name">Name</label></td>
                <td><input type="text" name="name" /></td>
            </tr>
            <tr>
                <td><label for="describtion">Describtion</label></td>
                <td><input type="text" name="describtion" /></td>
            </tr>
            <tr>
                <td><label for="price">Name</label></td>
                <td><input type="text" name="price"/></td>
            </tr>
        </table>
    </form>
</body>
</html>