{% include "header.html" %}

<body>
    <form action="product/new">
        <button class="add_product_button">Add product</button>
    </form>
    {% if products %}
    <table>
        <tr>
            <th>ID</th>
            <th>Name</th>
            <th>Description</th>
            <th>Price</th>
        </tr>
        {% for product in products %}
        <tr>
            <td>{{product.id}}</td>
            <td>{{product.name}}</td>
            <td>{{product.description}}</td>
            <td>{{product.price}}</td>
        </tr>
        {% endfor %}
    </table>
    {% else %}
    <h2>There are no products in list, press 'Add' to create new event</h2>
    {% endif %}
</body>
</html>