{% include "header.html" %}


<h2 "title"> Products List </h3>
<body>
    <center>
        <form action="product/new">
            <button class="add_product_button">Add product</button>
        </form>
    </center>
    {% if products %}
    <table class="index_table">
        <tr class="main_row">
            <th>ID</th>
            <th>Name</th>
            <th>Description</th>
            <th>Price</th>
            <th>Delete</th>
        </tr>
        {% for product in products %}
        <tr>
            <td>{{product.id}}</td>
            <td>{{product.name}}</td>
            <td>{{product.description}}</td>
            <td>{{product.price}}</td>
            <td class="trash">
                <a href="remove/{{ product.id }}">
                    <img class="image" src="{{ url_for('static', filename='pictures/trash.png') }}">
                </a>
            </td>
        </tr>
        {% endfor %}
    </table>
    {% else %}
    <h2>There are no products in list, press 'Add' to create new event</h2>
    {% endif %}
</body>

</html>